<header class="site-header" role="banner">
  <div class="topnav" id="topnav">
    <a href="/">
      Ben M. Andrew
    </a>
    <a class="button" href="/articles">
      Blog
    </a>
    <a class="button" href="/pages/projects">
      Projects
    </a>
    <a class="button" href="/pages/art">
      Art
    </a>
    <!-- <a class="button" href="/feed.xml">
      Atom
    </a> -->
    <a class="button" style="float: right;" href="https://www.linkedin.com/in/benmandrew/">
      LinkedIn
    </a>
    <a class="button" style="float: right;" href="https://github.com/benmandrew">
      GitHub
    </a>
    <a class="button" style="float: right;" href="https://benmandrew.s3.eu-west-2.amazonaws.com/CV.pdf">
      CV
    </a>
    <a href="javascript:void(0);" class="icon" onclick="toggle_topnav()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
