<header class="site-header" role="banner">
  <div class="topnav" id="topnav">
    <a href="/">
      Ben M. Andrew
    </a>
    <a class="button" href="/">
      Blog
    </a>
    <a class="button" href="/about">
      About
    </a>
    <a class="button" href="https://github.com/benmandrew">
      GitHub
    </a>
    <a class="button" href="https://www.linkedin.com/in/benmandrew/">
      LinkedIn
    </a>
    <a class="button" href="/feed.xml">
      Atom
    </a>
    <a href="javascript:void(0);" class="icon" onclick="toggle_topnav()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</header>
