<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body style="font-size: 18px;">

  {%- include header.html -%}
  <div style="width: 100%; padding-top: 50px;">
    {{ content }}

    <div class="side-bar" style="width: 25%; float: left;">
      <div style="margin-left: 15%; margin-right: 20%;">
        <img src="{{ site.s3_path }}/about/headshot.jpeg" class="img-fluid" style="border-radius: 3%;">
        <h5 style="padding-top: 10px;"><b>Ben M. Andrew</b></h5>
      </div>
    </div>

    <div class="main-window" style="float: right; padding-right: 10%;">
      <div>
        <h2 id="about">Hello!</h2>
        <hr>
        <p>
          I'm a PhD Researcher at the University of Manchester, investigating ways to mathematically prove the safety and reliability of robots. I'm supervised by <a href="https://mariefarrell.github.io">Dr. Marie Farrell</a>, <a href="http://www.cs.man.ac.uk/~dennisl/index.html">Dr. Louise Dennis</a>, and <a href="https://web.cs.manchester.ac.uk/~michael/">Prof. Michael Fisher</a>, working in the <a href="https://autonomy-and-verification.github.io">Autonomy and Verification Group</a>.
        </p>

        <p>Previously I worked at <a href="https://tarides.com">Tarides</a> in Paris, developing <a href="https://github.com/ocurrent/opam-repo-ci">open-source tooling</a> for the OCaml ecosystem. Before this I studied Computer Science at the University of Cambridge.</p>

        <p>I enjoy making computer science more accessible, whether by writing <a href="/articles/discrete-distortion">articles</a>, making fun <a href="/articles/js-table-renderer">interactive projects</a>, or just <a href="https://www.youtube.com/watch?v=n5OiqJP2f7w">rambling</a> to passers-by. You can check out my blog <a href="/articles">here</a>.</p>
    </div>

      <div style="padding-top: 30px;">
        <h2>Publications</h2>
        <hr>
        <ul>
          <li>
            Ben M. Andrew. <a href="https://doi.org/10.1007/978-3-031-94533-5_22">Weakening Goals in Logical Specifications</a>. Rigorous State-Based Methods (ABZ) 2025. <a href="{{ site.s3_path }}/abz2025/slides.pdf">Slides</a>.
          </li>
        </ul>
      </div>

      <div style="padding-top: 30px;">
        <h2>Professional Activities</h2>
        <hr>
        <ul>
          <li>
            Part of the local organising committee of <a href="https://ifm2024.cs.manchester.ac.uk">Integrated Formal Methods (iFM) 2024</a>.
          </li>
          <li>
            Member of the <a href="https://autonomy-and-verification.github.io">Autonomy and Verification Network</a>.
          </li>
        </ul>
      </div>

      <div style="padding-top: 30px;">
        <h2 id="teaching">Teaching Experience</h2>
        <hr>
        <p><b>University of Cambridge</b>, Supervisor (TA equiv.)</p>
        <ul>
          <li style="margin-bottom: 5px;">
            <a href="https://www.cl.cam.ac.uk/teaching/2324/HLog+ModC/">Hoare Logic and Model Checking</a> (Spring 2024, 2023, 2022)
          </li>
          <li style="margin-bottom: 5px;">
            <a href="https://www.cl.cam.ac.uk/teaching/2324/LogicProof/">Logic and Proof</a> (Winter 2024, 2023, 2022)
          </li>
          <li style="margin-bottom: 5px;">
            <a href="https://www.cl.cam.ac.uk/teaching/2324/Semantics/">Semantics of Programming Languages</a> (Autumn 2025, 2023)
          </li>
          <li style="margin-bottom: 5px;">
            <a href="https://www.cl.cam.ac.uk/teaching/2223/Graphics/">Introduction to Graphics</a> (Autumn 2022)
          </li>
        </ul>
        <p><b>University of Manchester</b>, Graduate Teaching Assistant</p>
        <ul>
          <li style="margin-bottom: 5px;">
            Automated Reasoning and Verification (Semester 2, 2024)
          </li>
          <li style="margin-bottom: 5px;">
            Logic and Modelling (Semester 1, 2024)
          </li>
          <li style="margin-bottom: 5px;">
            Mathematical Techniques for Computer Science (Semester 1 & 2, 2024)
          </li>
        </ul>
      </div>

      <div style="padding-top: 10px;">
        <h2 id="presentations">Recorded Presentations</h2>
        <hr>
        <ul>
          <li style="margin-bottom: 5px;">
            <a href="/articles/rendering-geometric-patterns">Rendering Geometric Patterns</a> — Tarides, Mar 2024
          </li>
          <li style="margin-bottom: 5px;">
            <a href="/articles/porting-ocaml-to-nrf52">Porting OCaml to an ARM microcontroller</a> — Tarides, Aug 2021
          </li>
          <li style="margin-bottom: 5px;">
            <a href="/articles/forward-and-deferred-rendering">Forward and Deferred Rendering</a> — Churchill College, University of Cambridge, Jan 2021
          </li>
        </ul>
      </div>

      <div style="padding-bottom: 100px;"></div>
    </div>
  </div>
</body>

</html>
