---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list row">
      {%- for post in site.posts -%}
        <li class="col-md-6" style="margin-bottom:15px">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <a class="card h-100" href="{{ post.url | relative_url }}">
            <img src="{{ post.header }}" class="card-img-top-custom">
            <div class="card-body">
              <h5 class="card-title">{{ post.title | escape }}</h5>
              <div class="row">
                <p class="card-subtitle text-muted col-6">{{ post.date | date: date_format }}</p>
                <p class="card-subtitle text-muted col-6" align="right"><strong>Tag</strong></p>
              </div>
            </div>
          </a>
        </li>
      {%- endfor -%}
    </ul>




  {%- endif -%}

</div>