---
layout: default
---

<style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  padding: 0 4px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
}
</style>

<h1>Photography Selections</h1>
<p>All of my photos are on <a href="https://www.flickr.com/photos/benmandrew/">Flickr</a>.</p>

<div class="post-list row">
  <div class="column col-md-6">
    {%- for img_info in page.first_column -%}
    <a href="https://www.flickr.com/photos/benmandrew/{{ img_info[1] }}/">
      <img src="{{ site.s3_path }}/photos/{{ img_info[0] }}" class="img-fluid">
    </a>
    {% if img_info[2] %}
    <p>{{ img_info[2] }}</p>
    {% endif %}
    {%- endfor -%}
  </div>

  <div class="column col-md-6">
    {%- for img_info in page.second_column -%}
    <a href="https://www.flickr.com/photos/benmandrew/{{ img_info[1] }}/">
      <img src="{{ site.s3_path }}/photos/{{ img_info[0] }}" class="img-fluid">
    </a>
    {% if img_info[2] %}
    <p>{{ img_info[2] }}</p>
    {% endif %}
    {%- endfor -%}
  </div>
</div>
